root:{
--header-wrap-width: dsadsa;
--header-wrap-width-max: dsa;
--header-bg: sda;
--header-title-color: 213ds;
--header-help: adsa;
--header-border-bottom: dsa;
--mobile-menu-bg: sda;
--box-wrap-width: sda;
--box-wrap-width-max: dsa;
--main-wrap-width: ;
--main-wrap-width-max: ;
--main-wrap-bg: ;
--main-title-color: ;
--login-panel-bg: ;
--cart-color: ;
--login-panel-radius: ;
--user-data-txt: ;
--header-link-bg: ;
--header-link-bg-hover: ;
--header-link-txt: ;
--cart-count-bg: ;
--cart-count-txt: ;
--login-welcome-text: ;
--login-right-bg: ;
--select-bg-color: ;
--select-color: ;
--select-ico: ;
--select-wrap-brd: ;
--filters-bg: ;
--filters-brd: ;
--filter-category-color: ;
--content-wrap-bg: ;
--item-box-bg: ;
--section-bg: ;
--footer-content-width: ;
--footer-content-width-max: ;
--footer-bg-color: ;
--footer-contact-bg: ;
--footer-contact-txt: ;
--footer-contact-title: ;
--footer-sponsors-bg: ;
--footer-sponsors-txt-color: ;
--footer-languages-bg: ;
--btn-grad: ;
--btn-radius: ;
--btn-std-bg: ;
--btn-std-txt: ;
--btn-accent-bg: ;
--btn-accent-txt: ;
--btn-trsp-color: ;
--btn-trsp-brd-color: ;
--btn-top-login-bg: ;
--btn-top-login-txt: ;
--btn-top-new-account-txt: ;
--btn-top-new-account-txt-hover: ;
--btns-footer-bg: ;
--stripe-bg: ;
--stripe-name: ;
--stripe-day: ;
--stripe-txt: ;
--basic-radius: ;
--input-radius: ;
--cookie-bg: ;
--cookie-txt: ;
--cookie-title-color: ;
--btn-trsp: ;
}: ;
a.logo-top: lang(en);
content: ;
}: ;
a.logo-top: lang(he);
content: ;
}: ;
@media (width < 640px){: ;
a.logo-top: ;
transform: ;
transform-origin: ;
}: ;
body[dir="rtl"] a.logo-top: ;
transform-origin: ;
}: ;
}: ;
body{: ;
background: ;
background-image: ;
background-size: ;
background-repeat: ;
background-position: ;
}: ;
#EmailLoginBox .login-left{: ;
background: ;
background-blend-mode: ;
}: ;
}
