root:{
--header-wrap-width: 97vw;
--header-wrap-width-max: 1680pxsss;
--header-bg: hsl(var(--third-base) 39% 95% / 0.3);
--header-title-color: var(--dark-txt);
--header-help: var(--dark-txt);
--header-border-bottom: 0;
--mobile-menu-bg: hsl(var(--first-base) 70% 50% / 1);
--box-wrap-width: 94vw;
--box-wrap-width-max: 1500px;
--main-wrap-width: 94vw;
--main-wrap-width-max: 1500px;
--main-wrap-bg: hsl(var(--first-base) 85% 45% / 0.95);
--login-panel-bg: hsl(var(--first-base) 2% 95% / 0.6);
--cart-color: var(--dark-txt);
--login-panel-radius: calc(var(--basic-radius) * 1.3);
--user-data-txt: var(--dark-txt);
--header-link-bg: hsl(var(--third-base) 80% 45%);
--header-link-bg-hover: var(--first-color);
--header-link-txt: var(--light-txt);
--cart-count-bg: var(--accent-color);
--cart-count-txt: var(--light-txt);
--login-welcome-text: var(--dark-txt);
--login-right-bg: #f2f2f2;
--select-bg-color: transparent;
--select-color: var(--dark-txt);
--select-ico: var(--dark-txt);
--select-wrap-brd: hsl(346 5% 9% / 0.7);
--filters-bg: ;
--filters-brd: hsl(346 6% 5% / 0.6);
--filter-category-color: var(--dark-txt);
--content-wrap-bg: #fff;
--item-box-bg: #fff;
--section-bg: #fff;
--price-footer: var(--dark-txt);
--footer-content-width: var(--header-wrap-width);
--footer-content-width-max: var(--main-wrap-width-max);
--footer-bg-color: #eee;
--footer-contact-bg: hsl(var(--first-base) 3% 15%);
--footer-contact-txt: var(--light-txt);
--footer-contact-title: var(--light-color);
--footer-sponsors-bg: #e3e3e3;
--footer-sponsors-txt-color: var(--dark-txt);
--footer-languages-bg: #e3e3e3;
--btn-grad: linear-gradient(transparent, hsl(var(--first-base) 5% 5% / 0.2));
--btn-radius: 4px;
--btn-std-bg: var(--second-color);
--btn-std-txt: var(--light-txt);
--btn-accent-bg: var(--accent-color);
--btn-accent-txt: var(--light-txt);
--btn-trsp-color: var(--light-txt);
--btn-trsp-brd-color: #666;
--btn-top-login-bg: var(--first-color);
--btn-top-login-txt: var(--light-txt);
--btn-top-new-account-txt: var(--dark-txt);
--btn-top-new-account-txt-hover: var(--light-txt);
--btns-footer-bg: hsl(var(--first-base) 3% 10% / 0.1);
--stripe-bg: #fff;
--stripe-name: var(--dark-txt);
--stripe-day: var(--dark-txt);
--stripe-txt: var(--dark-txt);
--basic-radius: 0.28rem;
--input-radius: 0.1rem;
--cookie-bg: hsl(var(--first-base) 3% 20% / 0.93);
--cookie-txt: var(--light-txt);
--cookie-title-color: var(--light-txt);
--btn-trsp: hsl(var(--first-base) 30% 80% / 0.4);
}
