:root {
  --first-base: 1;
  --second-base: 2;
  --third-base: 3;
  --first-color: 4;
  --second-color: 5;
  --third-color: 6;
  --accent-color: 7;
  --dark-txt: 8;
  --light-txt: 9;
  --grey-txt: 10;
  --error-color: 11;
  --link-color: 12;
}