:root {
  --first-base: 4213;
  --second-base: 231;
  --third-base: 4213;
  --first-color: 5213;
  --second-color: 5213;
  --third-color: 52135212;
  --accent-color: 3212;
  --dark-txt: 315;
  --light-txt: 125;
  --grey-txt: 235;
  --error-color: 123;
  --link-color: 512;
}