:root{
/* header */
--header-wrap-width:        
--header-wrap-width-max:    
--header-bg:                
--header-title-color:       
--header-help:              
--header-border-bottom:     
--mobile-menu-bg:      
        
/*  main page grid  */
--box-wrap-width:           
--box-wrap-width-max:       
  
/* main-wrap */
--main-wrap-width:          
--main-wrap-width-max:      
--main-wrap-bg:             
--main-title-color:    
     
/* login panel */
--login-panel-bg:                                
--cart-color:               
--login-panel-radius:       
--user-data-txt:            
--header-link-bg:           
--header-link-bg-hover:     
--header-link-txt:          
--cart-count-bg:            
--cart-count-txt:           
  
/* login window */
--login-welcome-text:       
--login-right-bg:            
  
/* lang select */
--select-bg-color:            
--select-color:               
--select-ico:                 
--select-wrap-brd:            
    
/* main page filter */
--filters-bg:                   
--filters-brd:                  
--filter-category-color:        
  
/* container-wrap  */
--content-wrap-bg:            
--item-box-bg:                
--section-bg:                     
/* footer colors  */
--footer-content-width:         
--footer-content-width-max:     
--footer-bg-color:            
--footer-contact-bg:            
--footer-contact-txt:           
--footer-contact-title:         
--footer-sponsors-bg:         
--footer-sponsors-txt-color:    
--footer-languages-bg:        
    
/* btn */
--btn-grad:                     
--btn-radius:                   
--btn-std-bg:                 
--btn-std-txt:                 
--btn-accent-bg:               
--btn-accent-txt:               
--btn-trsp-color:              
--btn-trsp-brd-color:         
--btn-top-login-bg:            
--btn-top-login-txt:            
--btn-top-new-account-txt:     
--btn-top-new-account-txt-hover:
  
/* btns-footer */
--btns-footer-bg:               
  
/* box-item colors */
--stripe-bg:                   
--stripe-name:                  
--stripe-day:                   
--stripe-txt:                   

/* basic radius */
--basic-radius:                 
--input-radius:                 
  
/* cookies window */
--cookie-bg:                    
--cookie-txt:                   
--cookie-title-color:           
--btn-trsp:                     
}
  
a.logo-top:lang(en)::after{ 
content:
}
a.logo-top:lang(he)::after{
content:
}

@media (width < 640px){
a.logo-top::after{ 
transform: 
transform-origin: 
}
body[dir="rtl"] a.logo-top::after{
transform-origin: 
}
}

/* body bg */
body{
background:                 
background-image:               
background-size:                
background-repeat:             
background-position:            
}
#EmailLoginBox .login-left{
  background: 
  background-blend-mode:   
  }
    